<?xml version="1.0" encoding="utf-8"?>
<!--<configuration debug="true">-->
<configuration>
    <contextName>groot</contextName>
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-45.45logger{45}:%-4.4line - %msg %n"/>
    <property name="pattern.color"
              value="%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %green(%-45.45logger{45}:%-4.4line) - %highlight(%msg) %n"/>
    <property name="log.home" value="logs"/>
    <property name="app.name" value="groot"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- 控制台输出-带颜色 -->
    <appender name="CONSOLE-WITH-COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern.color}</pattern>
        </encoder>
    </appender>

    <!-- 异步输出 -->
    <appender name="ASYNC-CONSOLE-WITH-COLOR" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="CONSOLE-WITH-COLOR"/>
    </appender>

    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/all/${app.name}.%d.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>testcaseId</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>

        <sift>
            <appender name="FILE-${testcaseId}" class="ch.qos.logback.core.FileAppender">
                <file>${log.home}/case/${testcaseId}.log</file>
                <append>false</append>
                <encoder>
                    <pattern>${pattern}</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>


    <root level="info">
        <!--<appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="CONSOLE-WITH-COLOR"/>
        <appender-ref ref="SIFT"/>
        <!--<appender-ref ref="ASYNC-CONSOLE-WITH-COLOR"/>-->
        <appender-ref ref="FILE"/>
    </root>
</configuration>
